.image {
    width: 350px;
}

.mainDiv-game {
    margin: auto;
    border: solid white;
    width: 50%;
    color: azure;
    background-color: #232323;
}

.upperDiv {
    display: flex;
}

.infoDiv {
    margin-left: 12px;
}

.gameContent {
    margin: 25px;
}